body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-column {
    background-color: white;
}

h1 {
    font-size: 60px;
}

.list-group-item {
    line-height: 0.5;
    border: none;
}

.card-body {
    flex: auto
}

span.extreme {
    padding: 3px;
    background-color: red;
    color: white;
}

span.moderate {
    padding: 3px;
    background-color: yellow;
}

span.low {
    padding: 3px;
    background-color: green;
    color: white;
}